body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000; /* Dark background for the retro vibe */
}

#map {
    height: 100%; /* Full height */
    width: 100%; /* Full width */
}

#search-box {
    position: absolute;
    top: 20px; /* Positioning at the top */
    left: 50%; /* Center the search box */
    transform: translateX(-50%); /* Translate to the left by half its width */
    padding: 10px; /* Increase padding for a longer look */
}

.window {
    position: absolute; /* Use absolute positioning */
    bottom: 50%; /* Position from the top */
    left: 20px; /* Position from the right */
    width: 300px; /* Set the width of the window */
    z-index: 10; /* Set a high z-index to appear on top */
}